<div class="alert alert-secondary mt-4" role="alert"> 
    <div> If you enjoy using this website, help support it by donating. To keep this website running, it needs ~$100 per month which includes domain, hosting, APIs expenses.
    <form action="https://www.paypal.com/donate" method="post" target="_top" style='float: right'>
        <input type="hidden" name="business" value="AD8RG6ADS8QTS" />
        <input type="hidden" name="item_name" value="Help me run this website by paying its hosting fees." />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form> 
    </div>
</div>