<div class="alert alert-warning mt-2" role="alert">Warning: 
    <ul>
        <li>Website is running on a low budget, hence may get throttled by the APIs if traffic gets high. If this happens, try again in a few minutes.</li>
    </ul> 
</div>

<div class="alert alert-primary" role="alert"> 
    <div> If you like the analysis, help me keep this website running by donating. It pays for the hosting fees and API access fees. Thank you!! 
    <form action="https://www.paypal.com/donate" method="post" target="_top" style='float: right'>
        <input type="hidden" name="business" value="AD8RG6ADS8QTS" />
        <input type="hidden" name="item_name" value="Help me run this website by paying its hosting fees." />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form> 
    </div>
</div>