html(lang="en")
    head
        include head.pug
    body
        - var loginPageActive = 'active'
        include nav.pug 

        div(class="container")
            h3.display-6=message
            div.mb-5
                span=secondaryMessage

            if isAuth
                <div class="alert alert-primary" role="alert">
                    <span>Logged in. Go <a href='/tradingbot'>trade!</a></span>
                </div>
            else 
                <a href='https://app.alpaca.markets/oauth/authorize?response_type=code&client_id=#{clientId}&redirect_uri=#{redirectUri}&state=SOMETHING_RANDOM&scope=account:write%20trading' class='btn btn-primary btn-lg mb-5'>Login with Alpaca</a>

            include donation.pug
            include disclaimer.pug

    include footer.pug
