html(lang="en")
    head
        include head.pug
    body
        - var portfolioPageActive = 'active'
        include nav.pug 

        div(class="container")
            h3.display-6='Portfolio Analysis'
            div.mb-5 
                span=secondaryMessage

            <div class="container-lg">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col"><h2>Portfolio <b>Details</b></h2></div>
                                <div class="col">
                                    <button type="button" class="btn btn-primary add-new"><i class="fa fa-plus"></i> Add Ticker</button>
                                </div>
                                <div class="col">
                                    <a class="refresh" title="Refresh all confidences" data-toggle="tooltip" href='#' id="refresh"><span class="material-icons">refresh</span></a>
                                    <a class="refresh" title="Save portfolio" data-toggle="tooltip" href='#' id="save"><span class="material-icons">save</span></a>
                                    <a class="refresh" title="Upload portfolio" data-toggle="tooltip" href='#' id="load"><span class="material-icons">file_upload</span></a>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 d-none" id='load-container'>
                            <div class='col-sm-auto mt-2'><span> Add your portfolio data that you downloaded before: </span></div>
                            <div class='col-sm-auto mt-2'><textarea id='data-to-load'></textarea></div>
                            <div class='col-sm-auto mt-2'><button class='btn btn-success' id='load-data-button'>Load</button></div>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Ticker</th>
                                    <th>Type</th>
                                    <th>Investment Horizon (#Days)</th>
                                    <th>Price</th>
                                    <th>Buy Confidence</th>
                                    <th>Price Timestamp</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
   
                            </tbody>
                        </table>

                        <div id='save-string'>
                    </div>
                </div>
            </div>     

            include donation.pug
            include disclaimer.pug

    include footer.pug
