html(lang="en")
    head
        include head.pug
    body
        include nav.pug 

        div(class="container mt-4")
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Terms</h2>
                        <h6>As a user of this website: </h6>
                        <ul>
                            <li>You must read all terms, privacy policy and disclaimer before using this website.</li>
                            <li>You should only use this website for entertainment purposes.</li>
                            <li>You must not delebrately try to break the website by generating malicious request or by generating artifically heavy traffic.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2>Privacy</h2>
                        <ul>
                            <li>This website does not store any private information of the users.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h2>Disclaimer</h2>
                        <ul>
                            <li>This website is NOT developed by Alpaca.</li>
                            <li>This website is not a registered investment, legal or tax advisor or a broker/dealer. All investment/financial opinions expressed by buythedipclub.com are from the personal research and experience of the owner of the site and are intended as educational and/or entertainment material. Although best efforts are made to ensure that all information is accurate and up to date, occasionally unintended errors and misprints may occur. It is very important to do your own analysis before making any investment based on your own personal circumstances.</li>
                            <li>This website is in its infancy and is a beta product and may contain broken features. Owner of this website will fix the issues, if any, at his own discretion.</li>
                        </ul>
                    </div>
                </div>  
            </div>

            include donation.pug
            include disclaimer.pug

    include footer.pug
