html(lang="en")
    head
        include head.pug
    body
        - var tradingPageActive = 'active'
        include nav.pug
 
        div(class="container")
            h1="Trading Bot"
            <span>Trading Bot finds attractive stocks on demand and buys or sells them automatically on your behalf.</span> <br/><br/>

            if tokens
                <form method="POST" action="/" id="startbot">
                    <div class="row mb-5">
                        <div class="col-sm-2">
                            <label for="tickerSelection" class="col-sm-2 col-form-label">Watchlist:</label>
                        </div>
                        <div class="col-sm-4" aria-describedBy="tickerSelectionHelp">
                            <div class="row mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="popular" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">Most Popular 80 Stocks</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickers" class="col-sm-2 col-form-label">Tickers:</label>
                        </div>
                        <div class="col-sm-4">
                            //- <input type="text" id="ticker" name="t" class="form-control" aria-describedby="tickerHelp" value=ticker>
                            input.form-control(type='text' id='tickers' name='tickers' aria-describedby="tickerHelp" value=tickers)
                        </div>
                        <div class="col-sm-3">
                            <span id="tickerHelp" class="form-text">Or enter your own list. Must be comma-seperated ticker symbols without any spaces.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Investment horizon(#days):</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='horizon' aria-describedby='horizonHelp' value="365")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Buy confidence is relative to past event. This is number of days in the past you want to look into. Try something like 365-720 (1-2 years) to get better sample data of the price.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Alpaco Access Key:</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='alp_access' aria-describedby='horizonHelp' value="")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Your Alpaca paper money account's api access key. If you haven't signed up for Alpaca, do it.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <label for="tickerType" class="col-sm-2 col-form-label">Alpaco Secret Key:</label>
                        </div>
                        <div class="col-sm-4">
                            input#horizon.form-control(type='text' name='alp_secret' aria-describedby='horizonHelp' value="")
                        </div>
                        <div class="col-sm-3">
                            <span id="horizonHelp" class="form-text">Alpaca secret key.</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-5">
                            //- <input type="submit" value="Load Ticker" class="btn btn-primary"/>
                            <button type="submit" class="btn btn-primary" id="submit-button">
                            <span class="spinner-border spinner-border-sm" role="status" style='display:none' id='spinner'></span>
                            <span>Submit</span>
                            </button> 
                        </div>

                        <div class="col-sm-3">
                            <span class="form-text">Start evaluating all the stocks.</label>
                        </div>
                    </div>
                </form>

                include donation.pug
                
                <div id="result-message" class="alert alert-secondary" role="alert">Your trades will appear below: </div>
                <div class="container-fluid p-10 m-20">
                    <div class="row-fluid mb-10 pb-10">
                        <button type="button" class="btn btn-primary mb-10" id="submit-trades-button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" style='display:none' id='submit-trades-spinner'></span>
                            <span>Trade</span>
                        </button> 
                    </div>

                    <table class="table table-bordered" id="result-table">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Price</th>
                                <th>Buy Confidence</th>
                                <th>Sell Confidence</th>
                                <th>Select to trade</th>
                                <th>Order Submitted</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            else 
                <div class="alert alert-primary" role="alert">
                    <span>To access trading page, you need to <a href='/login'>login</a> first.</span>
                </div>

            include disclaimer.pug
    include footer.pug